* { padding: 0; margin: 0; }
html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Avenir Next Condensed',sans-serif;
}
body {
  min-height: 100vh;
}
.outer, header {
  display: block;
}
.outer {
  width: 100%;
  padding: 0;
}
header {
  background-color: #0b2545;
  height: 5em;
}
#me {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 0.5em;
  margin-left: 2em;
  float: left;
  transition: all 0.2s ease-in-out;
}
.bg-left {
  background-color: #eef4ed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 91%;
  z-index: -1;
  width: 130px;
  height: 689px;
}
.bg-right {
  background-color: #eef4ed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 91%;
  right: 0;
  z-index: -1;
  width: 130px;
  height: 689px;
}
.menu ul {
  list-style-type: none;
  text-align: right;
  margin-top: -1.5em;
  margin-right: 1em;
}
.menu li {
  display: inline-block;
  margin: 0 10px;
}
a:link, a:visited {
  background-color: #13315c;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
a:hover {
  box-shadow: 0 0px 16px rgba(141, 169, 196, .4);
}
a:link {
  color: #8da9c4;
}
a:visited {
  color: #eef4ed;
}
.name {
  text-align: left;
  font-size: 25px;
  letter-spacing: 2px;
  color: #8da9c4;
  padding-top: 0.8em;
  padding-left: 5em;
}
#me:hover {
  box-shadow:0 0px 16px rgba(141, 169, 196, .4)
}
.bar {
  size: 2;
  margin: 28px -20px 20px;
  color: black;
}
.border {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-top: -0.09em;
  margin-left: 9%;
  margin-right: 9%;
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 0.1em;
  border-right-width: 0.1em;
}
main {
  text-align: center;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
  font-size: 18px;
}
#about {
  position: relative;
}
#about p {
  padding-top: 1em;
}
#tails {
  height: 169px;
  width: 300px;
  border-radius: 50%;
  float: right;
  margin-top: -3em;
  margin-right: -5em;
}
.footer-bar {
  size: 2;
  margin-left: 30px -20px 20px;
  color: #13315c;
}
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5em;
  margin-bottom: auto;
  background-color: #13315c;
}
footer p {
  color: #8da9c4;
}
